
<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
  <div class="p-4 flex items-center justify-between space-x-4">
    <app-product-table-tool-bar></app-product-table-tool-bar>
  </div>
  <div class="p-4 flex items-center justify-between space-x-4">
    <app-product-table-search (searchOutput)="searchInputChanged($event)"></app-product-table-search>
    <app-product-table-filter
    [categories]="mockCategories"
    (categorySelected)="selectCategory($event)"
    >
  </app-product-table-filter>

  </div>
  <table class="w-full text-sm text-left rtl:text-right text-body">
      <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-t border-default-medium">
          <tr>
             @for(item of items; track $index) {
                <th scope="col" class="px-6 py-3 font-medium">
                  <div class="flex items-center">
                      <span class="flex-1 whitespace-nowrap">{{item.label}}</span>
                      <a href="#">
                          <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/></svg>
                      </a>
                  </div>
              </th>
             }
          </tr>
      </thead>
      <tbody>

          @for(product of products(); track product.id) {
          <tr class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">

            <td class="px-6 py-4">
              {{product.name}}
            </td>
            <td class="px-6 py-4">
                {{product.categoryId}}
            </td>
            <td class="px-6 py-4">
                {{product.price}}
            </td>
            <td class="px-6 py-4">
                {{product.quantity}}
            </td>
            <td class="px-6 py-4">
                {{ product.createdAt | date:'medium' }}
            </td>
            <td class="px-6 py-4">
                <a (click)="editProduct(product.id)" class="font-medium text-fg-brand hover:underline">Edit</a>
            </td>

          </tr>
        }
      </tbody>
  </table>
</div>
