.sort-active {
    background-color: color-mix(in srgb, var(--color-fg-brand), transparent 95%);
}

@keyframes fadeInZoom {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-in {
    animation: fadeInZoom 0.2s ease-out forwards;
}