

<nav aria-label="Page navigation example" class="flex items-center space-x-4">
  <ul class="flex -space-x-px text-sm">
    <li>
      <a (click)="previousPage()" class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading shadow-xs font-medium leading-5 rounded-s-base text-sm px-3 h-9 focus:outline-none">Previous</a>
    </li>
    @for(item of pageArray; track item) {
    <li>
      <a (click)="selectPage(item)"  class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading shadow-xs font-medium leading-5 rounded-s-base text-sm px-3 h-9 focus:outline-none">{{item}}</a>
    </li>
  }
  <li>
    <a (click)="nextPage()"  class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading shadow-xs font-medium leading-5 rounded-s-base text-sm px-3 h-9 focus:outline-none">Next</a>
  </li>
  </ul>
  <div class="w-28 mx-auto">
    <label for="countries" class="sr-only">Select an option</label>
    <select (change)="selectPageSize($event)" class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm leading-4 rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body">
      @for(pageSizeOption of pageSelectionOptions; track pageSizeOption.value) {
        <option value={{pageSizeOption.value}} [selected]='pageSizeOption.value == pageSize()'>{{pageSizeOption.label}}</option>
      }
    </select>
  </div>
</nav>

